html {
    height: 100vh;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #E4EDF2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Karla', sans-serif;
    margin: 0px;
}

.dad-box {
    width: 280px;
    height: 690px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 3px 8px 13px 0px rgba(0, 0, 0, 0.33);
    border-radius: 8px;
}

#first-child {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 230px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#first-child h2 {
    color: #24ABA9;
    margin-bottom: 20px;
}

#first-child h3 {
    color: #B8D945;
    font-size: 0.9em;
    margin-bottom: 10px;
    font-weight: 700;
}

#first-child p {
    color: hsl(218, 22%, 67%);
    font-size: 0.85em;
    line-height: 20px;
}

#first-child>* {
    margin: 0px;
    font-family: 'Karla', sans-serif;
}

#second-child {
    background-color: #24ABA9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    height: 230px;
}

#second-child>* {
    font-family: 'Karla', sans-serif;
}

#second-child h3 {
    color: white;
    margin-bottom: 10px;
    margin-top: 0px;
}

.price-line {
    display: flex;
    gap: 15px;
    align-items: center;
    height: 20px;
}

#price {
    font-size: 1.8em;
    font-weight: 700;
    color: white;
}

#info-price {
    font-size: 0.9em;
    color: hsl(215, 13%, 82%);
    opacity: 0.7;
}

#thirdP {
    margin-top: 0px;
    margin-bottom: 10px;
    color: white;
    opacity: 0.8;
}

button {
    padding: 13px 0px 13px 0px;
    background-color: #B8D945;
    border: none;
    border-radius: 8px;
    color: white;
    transition: all .3s ease-in-out;
    cursor: pointer;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.33);
    font-weight: 700;
}

button:hover {
    transform: scale(1.1) perspective(1px);
    box-shadow: none;
}

#third-child {
    background-color: #40B7B6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    height: 230px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

#third-child>* {
    margin: 0px;
    font-family: 'Karla', sans-serif;
}

#third-child ul {
    padding: 0px;
    list-style-type: none;
    color: hsl(215, 13%, 82%);
    opacity: 0.85;
    font-size: 0.8em;
    line-height: 18px;
}

#third-child h3 {
    color: white;
    margin-bottom: 15px;
}

@media (min-width: 730px) {

    .dad-box{
        width: 650px;
        height: 450px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #first-child{
        height: 45%;
        padding: 30px;
        justify-content: center;
    }

    #second-child{
        height: 55%;
        width: 50%;
        border-bottom-left-radius: 8px;
        justify-content: center;
        gap: 10px;
        padding: 30px;
    }

    #second-child h3{
        margin-bottom: 20px;
    }

    #thirdP{
        margin-bottom: 20px;
    }

    #third-child{
        height: 55%;
        width: 50%;
        border-bottom-left-radius: 0px;
        padding: 30px;
    }


}